[DEFAULT]
# Update this with the value of your `c03aab1711dbd2a02ea11200dde3e3d1` cookie
session_id = abcdefghijklmzopqrst123456

# Specify a folder for the files
output_folder = /DOWNLOADS

# Set the user agent for the connection
user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:68.0) Gecko/20100101 Firefox/68.0

# When fetching pages, seconds to wait between each
pause = 1
